---
import AsideNavDocs from "@components/shared/navbars/AsideNavDocs.astro";
import NavbarDocs from "@components/shared/navbars/NavbarDocs.astro";
import "../styles/blog.css";

const { title, description, headings } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{`${title} - heee`}</title>
  </head>
  <body>
    <NavbarDocs />
    <section class="container mx-auto my-grid mt-10">
      <AsideNavDocs />
      <article class="w-full">
        <slot />
      </article>

      <aside>
        <div class="fixed">
          <h4 class="on-this-page leading-none">En esta página</h4>
          <ol class="space-y-2">
            {
              headings.map((heading, i) => (
                <li>
                  <a
                    href={`#${heading.slug}`}
                    class="block text-secondary-600 hover:text-secondary-400 text-small"
                  >
                    {heading.text}
                  </a>
                </li>
              ))
            }
          </ol>
        </div>
      </aside>
    </section>
  </body>
</html>

<style is:global>
  body {
    @apply bg-tertiary-600 text-secondary-600;
  }
  .on-this-page {
    font-size: 16px;
    padding-top: 0px;
  }
  .my-grid {
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    gap: 40px;
  }
</style>
