---
import AsideNavDocs from "@components/shared/navbars/AsideNavDocs.astro";
import NavbarDocs from "@components/shared/navbars/NavbarDocs.astro";
import "../styles/blog.css";

const { title, description, headings } = Astro.props;
console.log(headings.slug);
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{`${title} - heee`}</title>
  </head>
  <body>
    <NavbarDocs />
    <div class="max-w-7xl mx-auto flex gap-10">
      <AsideNavDocs />
      <article class="w-full">
        <slot />
      </article>

      <div class="w-56">
        <h4 class="leading-none">En esta página</h4>
        <ol class="pl-2">
          {
            headings.map((heading, i) => (
              <li>
                <a
                  href={`#${heading.slug}`}
                  class="text-primary-400 hover:text-primary-200 text-small"
                >
                  {heading.text}
                </a>
              </li>
            ))
          }
        </ol>
      </div>
    </div>
  </body>
</html>

<style is:global>
  body {
    @apply bg-tertiary-600 text-secondary-600;
  }
  h1 {
    @apply text-6xl;
  }
</style>
