---
import AsideNavDocs from "@components/shared/navbars/AsideNavDocs.astro";
import NavbarDocs from "@components/shared/navbars/NavbarDocs.astro";
import Footer from "../content/components/Footer.astro";
import "../styles/docs.css";
import OnThisPage from "src/content/components/OnThisPage.astro";
import AsideNavDocsPC from "@components/shared/navbars/AsideNavDocsPC.astro";

const { title, description, headings } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{`${title} - heee`}</title>
  </head>
  <body>
    <NavbarDocs />
    <section class="w-full container grid-xl mx-auto lg:pt-28">
      <AsideNavDocs />
      <AsideNavDocsPC />
      <main class="px-10 mt-36 lg:mt-0">
        <slot />
        <Footer slug={headings[0].slug} />
      </main>
      <OnThisPage headings={headings} />
    </section>
  </body>
</html>

<style is:global>
  body {
    @apply bg-tertiary-600 text-secondary-600;
  }
  @media (min-width: 768px) {
    .grid-xl {
      display: grid;
      grid-template-columns: 0.1fr 1fr 0.1fr;
    }
  }
  .on-this-page {
    font-size: 16px;
    padding-top: 0px;
  }
</style>
