---
import AsideNavDocs from "@components/shared/navbars/AsideNavDocs.astro";
import NavbarDocs from "@components/shared/navbars/NavbarDocs.astro";
import Footer from "../content/components/Footer.astro";
import "../styles/docs.css";
import OnThisPage from "src/content/components/OnThisPage.astro";

const { title, description, headings } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{`${title} - heee`}</title>
  </head>
  <body>
    <NavbarDocs />
    <section class="container mx-auto my-grid mt-10">
      <AsideNavDocs />
      <Footer slug={headings[0].slug}>
        <slot />
      </Footer>
      <OnThisPage headings={headings} />
    </section>
  </body>
</html>

<style is:global>
  body {
    @apply bg-tertiary-600 text-secondary-600;
  }
  .on-this-page {
    font-size: 16px;
    padding-top: 0px;
  }
  .my-grid {
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    gap: 80px;
  }
</style>
